In [49]:
import pandas as pd
import os

In [ ]:
pwd = os.getcwd()

filepath = pwd + '/fifa21_raw_data.csv'

raw_data = pd.read_csv(filepath)

In [51]:
# working version of dataframe
wip = raw_data.copy()

In [52]:
wip.shape

(18979, 77)

In [53]:
wip.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,\n\n\n\nFC Barcelona\n2004 ~ 2021\n\n,...,Medium,Low,5 ★,85,92,91,95,38,65,\n372
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,\n\n\n\nJuventus\n2018 ~ 2022\n\n,...,High,Low,5 ★,89,93,81,89,35,77,\n344
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,\n\n\n\nAtlético Madrid\n2014 ~ 2023\n\n,...,Medium,Medium,3 ★,87,92,78,90,52,90,\n86
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,\n\n\n\nManchester City\n2015 ~ 2023\n\n,...,High,High,4 ★,76,86,93,88,64,78,\n163
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,\n\n\n\nParis Saint-Germain\n2017 ~ 2022\n\n,...,High,Medium,5 ★,91,85,86,94,36,59,\n273

In [54]:
# convert height into inches
def parse_ht(height):
    # format: 5'9"
    ht = height.split("'")
    ft = int(ht[0])
    inch = int(ht[1].replace("\"",""))
    return (12*ft) + inch

# new column with height as inches
wip['HeightInches'] = wip['Height'].apply(lambda x: parse_ht(x))

# new column convert to cm
wip['HeightCM'] = wip['HeightInches'].apply(lambda x: round(x * 2.54, 1))

In [55]:
wip[['Height','HeightInches','HeightCM']].head()

  Height  HeightInches  HeightCM
0   5'7"            67     170.2
1   6'2"            74     188.0
2   6'2"            74     188.0
3  5'11"            71     180.3
4   5'9"            69     175.3

In [56]:
# remove lbs from weight string
wip['Weight'].str.replace("lbs","", regex=False)

# new column with weight as numeric value
wip['WeightLbs'] = pd.to_numeric(wip['Weight'].str.replace("lbs","", regex=False))

# new column convert to cm
wip['WeightKg'] = wip['WeightLbs'].apply(lambda x: round(x / 2.205,1))

In [57]:
wip[['Weight','WeightLbs','WeightKg']].head()

   Weight  WeightLbs  WeightKg
0  159lbs        159      72.1
1  183lbs        183      83.0
2  192lbs        192      87.1
3  154lbs        154      69.8
4  150lbs        150      68.0

In [58]:
# remove \n (newline characters)
wip['Team & Contract'] = wip['Team & Contract'].str.replace("\n", "", regex=False)

wip['Hits'] = wip['Hits'].str.replace("\n", "", regex=False)

In [59]:
# remove euro symbol from string
wip['Value'] = wip['Value'].str.replace("€", "", regex=False)

# replace K with k
wip['Value'] = wip['Value'].str.replace("K", "k", regex=False)

# convert values
def convert_values(val):
    if "M" in val:
        return float(val.replace("M", "")) * 1000000
    if "k" in val:
        return float(val.replace("k", "")) * 1000
    else:
        return float(val)

# new column 
wip['ValueEuro'] = wip['Value'].apply(convert_values)

# convert from float to int
wip['ValueEuro'] = wip['ValueEuro'].astype(int)

In [60]:
# remove euro symbol from string
wip['Wage'] = wip['Wage'].str.replace("€", "", regex=False)

# convert values
def convert_values(val):
    if "K" in val:
        return float(val.replace("K", "")) * 1000
    else:
        return float(val)

# new column 
wip['WageEuro'] = wip['Wage'].apply(convert_values)

# convert from float to int
wip['WageEuro'] = wip['WageEuro'].astype(int)

In [61]:
# remove euro symbol from string
wip['Release Clause'] = wip['Release Clause'].str.replace("€", "", regex=False)

# replace K with k
wip['Release Clause'] = wip['Release Clause'].str.replace("K", "k", regex=False)

# convert values
def convert_values(val):
    if "M" in val:
        return float(val.replace("M", "")) * 1000000
    if "k" in val:
        return float(val.replace("k", "")) * 1000
    else:
        return float(val)

# new column 
wip['ReleaseClauseEuro'] = wip['Release Clause'].apply(convert_values)

# convert from float to int
wip['ReleaseClauseEuro'] = wip['ReleaseClauseEuro'].astype(int)

In [62]:
wip.head()

,photoUrl,LongName,playerUrl,Nationality,Positions,Name,Age,↓OVA,POT,Team & Contract,...,DEF,PHY,Hits,HeightInches,HeightCM,WeightLbs,WeightKg,ValueEuro,WageEuro,ReleaseClauseEuro
0,https://cdn.sofifa.com/players/158/023/21_60.png,Lionel Messi,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,RW ST CF,L. Messi,33,93,93,FC Barcelona2004 ~ 2021,...,38,65,372,67,170.2,159,72.1,67500000,560000,138400000
1,https://cdn.sofifa.com/players/020/801/21_60.png,C. Ronaldo dos Santos Aveiro,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,ST LW,Cristiano Ronaldo,35,92,92,Juventus2018 ~ 2022,...,35,77,344,74,188.0,183,83.0,46000000,220000,75900000
2,https://cdn.sofifa.com/players/200/389/21_60.png,Jan Oblak,http://sofifa.com/player/200389/jan-oblak/210005/,Slovenia,GK,J. Oblak,27,91,93,Atlético Madrid2014 ~ 2023,...,52,90,86,74,188.0,192,87.1,75000000,125000,159400000
3,https://cdn.sofifa.com/players/192/985/21_60.png,Kevin De Bruyne,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,CAM CM,K. De Bruyne,29,91,91,Manchester City2015 ~ 2023,...,64,78,163,71,180.3,154,69.8,87000000,370000,161000000
4,https://cdn.sofifa.com/players/190/871/21_60.png,Neymar da Silva Santos Jr.,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,LW CAM,Neymar Jr,28,91,91,Paris Saint-Germain2017 ~ 2022,...,36,59,273,69,175.3,150,68.0,90000000,270000,166500000

In [63]:
# split column
# format TeamNameYYYY ~ YYYY
wip[['Team', 'Contract']] = wip['Team & Contract'].str.extract(r'([a-zA-Z ]+)(\d{4} ~ \d{4})')

In [64]:
# re-format date
# date format "%b %-d, %Y" to "%Y-%m-%d"
wip['Joined'] = pd.to_datetime(wip['Joined']).dt.strftime('%Y-%m-%d')

# split date
wip[['JoinedYear', 'JoinedMonth', 'JoinedDay']] = wip['Joined'].str.split("-", expand=True)

In [65]:
# remove ★ (star character)
wip['IR'] = wip['IR'].str.replace("★", "", regex=False)

wip['W/F'] = wip['W/F'].str.replace("★", "", regex=False)

wip['SM'] = wip['SM'].str.replace("★", "", regex=False)

In [66]:
clean = wip[['ID','LongName', 'Name', 'Age', 'Nationality', 'Team', 'Contract', 'Joined', 'JoinedYear','JoinedMonth', 'JoinedDay', 'Positions', 'photoUrl', 'playerUrl', '↓OVA', 'POT', 'HeightInches', 'HeightCM', 'WeightLbs', 'WeightKg', 'foot', 'BOV', 'BP', 'Growth', 'Loan Date End', 'ValueEuro', 'WageEuro', 'ReleaseClauseEuro', 'Attacking', 'Crossing', 'Finishing', 'Heading Accuracy', 'Short Passing', 'Volleys', 'Skill', 'Dribbling', 'Curve', 'FK Accuracy', 'Long Passing', 'Ball Control', 'Movement', 'Acceleration', 'Sprint Speed', 'Agility', 'Reactions', 'Balance', 'Power', 'Shot Power', 'Jumping', 'Stamina', 'Strength', 'Long Shots', 'Mentality', 'Aggression', 'Interceptions', 'Positioning', 'Vision', 'Penalties', 'Composure', 'Defending', 'Marking', 'Standing Tackle', 'Sliding Tackle', 'Goalkeeping', 'GK Diving', 'GK Handling', 'GK Kicking', 'GK Positioning', 'GK Reflexes', 'Total Stats', 'Base Stats', 'W/F', 'SM', 'A/W', 'D/W', 'IR', 'PAC', 'SHO', 'PAS', 'DRI', 'DEF', 'PHY', 'Hits']]

In [67]:
clean.head()

,ID,LongName,Name,Age,Nationality,Team,Contract,Joined,JoinedYear,JoinedMonth,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,Lionel Messi,L. Messi,33,Argentina,FC Barcelona,2004 ~ 2021,2004-07-01,2004,07,...,Medium,Low,5,85,92,91,95,38,65,372
1,20801,C. Ronaldo dos Santos Aveiro,Cristiano Ronaldo,35,Portugal,Juventus,2018 ~ 2022,2018-07-10,2018,07,...,High,Low,5,89,93,81,89,35,77,344
2,200389,Jan Oblak,J. Oblak,27,Slovenia,tico Madrid,2014 ~ 2023,2014-07-16,2014,07,...,Medium,Medium,3,87,92,78,90,52,90,86
3,192985,Kevin De Bruyne,K. De Bruyne,29,Belgium,Manchester City,2015 ~ 2023,2015-08-30,2015,08,...,High,High,4,76,86,93,88,64,78,163
4,190871,Neymar da Silva Santos Jr.,Neymar Jr,28,Brazil,Germain,2017 ~ 2022,2017-08-03,2017,08,...,High,Medium,5,91,85,86,94,36,59,273